.hero-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;
  margin: 4em 1rem 9em 1rem;
}

.hero-container h2 {
  color: var(--secondary-color);
  word-spacing: 5px;
  font-size: 1.5rem;
}

.hero-container h1 {
  font-size: 50px;
  font-weight: bolder;
  color: var(--dark-white-color);
  line-height: 130%;
}

.hero-container span {
  color: var(--darker-white-color);
}

.hero-container .hero-description {
  /* border: 1px solid red; */
  color: var(--darker-white-color);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 2rem;
  max-width: 600px;
}

@media (min-width: 860px) {
  .hero-container {
    padding: 2rem 0;
    max-width: 768px;
    margin: 0 auto;
    gap: 2em;
  }

  .hero-container h2 {
    color: var(--secondary-color);
    word-spacing: 5px;
    font-size: 1.7rem;
  }

  .hero-container h1 {
    font-size: 80px;
    font-weight: bolder;
    color: var(--dark-white-color);
  }

  .hero-container span {
    color: var(--darker-white-color);
  }

  .hero-container .hero-description {
    color: var(--darker-white-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
  }

  .hero-container .upstatement {
    color: var(--secondary-color);
    transition: all 1s ease-in;
  }

  .hero-container .upstatement:hover {
    border-bottom: 1px solid var(--secondary-color);
  }
}

@media (min-width: 1200px) {
  .hero-container {
    padding: 2rem 0;
    max-width: 1000px;
    margin: 4em auto 9em auto;
    gap: 2rem;
  }

  .hero-container .hero-description {
    font-size: 1.6rem;
  }
}
