.gridContainer {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.projectImageContainer {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.projectImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.projectNavigtionLinks {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projectNavigationInner {
  position: relative;
  top: 40%;
  left: 40%;
  display: flex;
  gap: 2rem;
}

.projectNavigtionLinks .git {
  font-size: 3rem;
  color: var(--darker-white-color);
  transition: 0.2s ease-in;
}

.projectNavigtionLinks .git:hover {
  color: var(--secondary-color);
}

.gridContent {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em 0;
  gap: 2em;
}

.gridContent h1 {
  color: var(--secondary-color);
  font-size: 2rem;
}

.gridContent p {
  display: inline-block;
  color: var(--dark-white-color);
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem auto;
  transition: color 0.2s ease-in;
}

.gridContent p:hover {
  color: var(--secondary-color);
}

.gridContent .description p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darker-white-color);
}

.spanContainer {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.spanContainer span {
  color: var(--darker-white-color);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.gridContent .links {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

@media (min-width: 768px) {
  .gridContainer {
    flex-direction: row;
    gap: 3em;
  }

  .gridContainer:nth-child(odd) .gridContent {
    text-align: right;
    align-items: flex-end;
  }

  .gridContainer:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
    align-items: flex-start;
  }

  .projectImageContainer {
    width: 50%;
    height: 100%;
    flex: 1;
  }

  .gridContent {
    padding: 0;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    flex: 1;
  }

  .gridContent .description p {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--modal-color);
    box-shadow: var(--box-shadow-color);
  }
}
