.projectsContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  margin: 4em auto 9em auto;
}

.projectsContainer .projectsGlobalContainer {
  display: grid;
  grid-template-columns: repeat(1fr);
  width: 100%;
  gap: 8em;
  margin: 0 auto;
}

@media screen and (min-width: 860px) {
  .projectsContainer {
    padding: 2rem 0;
    max-width: 750px;
    margin: 0 auto;
    gap: 2em;
  }

  .projectsContainer .projectsGlobalContainer {
    gap: 12em;
  }
}

@media screen and (min-width: 1200px) {
  .projectsContainer {
    /* margin: 4em auto 9em auto; */
    max-width: 1000px;
  }
}
