.gridContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: right;
}

.projectImageContainer {
  display: none;
}

.gridContent {
  border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3em;
}

.gridContent h1 {
  color: var(--secondary-color);
  font-size: 2rem;
}

.gridContent p {
  color: var(--dark-white-color);
  font-size: 3rem;
  font-weight: 700;
}

.gridContent .description p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darker-white-color);
}

.spanContainer {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.spanContainer span {
  color: var(--darker-white-color);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.gridContent .links {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.gridContent .links .git {
  font-size: 6rem;
}

@media (min-width: 768px) {
  .gridContainer {
    flex-direction: row;
    gap: 3em;
  }

  .gridContainer:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
  }

  .projectImageContainer {
    /* border: 1px solid red; */
    height: 100%;
    align-items: center;
    flex: 1;
    display: block;
  }

  .projectImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gridContent {
    flex: 1;
    /* border: 1px solid red; */
    height: 550px;

  }
}
