.experience-container {
  position: relative;
  max-width: 750px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 9rem 0;
}

.experience-global-container {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  justify-content: space-between;
}

.experience-global-container .left-experience {
  flex: 1;
}

.experience-global-container .right-experience {
  flex: 3;
}

.left-experience .btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-container .exp-btn {
  display: inline;
  text-align: left;
  background-color: transparent;
  width: 100%;
  padding: 1rem 2.5rem;
  border: none;
  color: var(--darker-white-color);
  margin-bottom: 1rem;
  cursor: pointer;
  border-left: 2px solid var(--primary-color);
  transition: all 0.3s ease-in;
}

.btn-container .exp-btn:hover {
  background-color: var(--modal-color);
  border-left: 2px solid var(--secondary-color);
}

.exp-btn.active-btn {
  background-color: var(--modal-color);
  border-left: 2px solid var(--secondary-color);
}

/* .right-experience .individual-exps {
} */

.right-experience .individual-exps h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-white-color);
  margin-bottom: 1rem;
}

.right-experience .individual-exps p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darker-white-color);
  margin-bottom: 1rem;
}

.right-experience .individual-exps li {
  list-style: none;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--darker-white-color);

}

/* play-button */
.right-experience .individual-exps li span {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
}

.right-experience .individual-exps li span:before {
  content: "";
  position: absolute;
  top: 20%;
  left: -20px;
  transform: translateX(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid var(--secondary-color);
}
/* End of play button */