.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-family: "Roboto Mono", monospace;
}

.heading-container .number {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 600;
}

.heading-container .heading-text {
  font-size: 2rem;
  color: var(--dark-white-color);
  font-weight: 600;
}

.heading-container .empty_div {
  height: 1px;
  width: 20rem;
  background-color: var(--darker-white-color);
}
