.hero-container {
  max-width: 1000px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  width: 100%;
  margin-top: 10vh;
  
}

.hero-container h2 {
  color: var(--secondary-color);
  word-spacing: 5px;
  font-size: 1.5rem;
}

.hero-container h1 {
  font-size: 70px;
  font-weight: bolder;
  color: var(--dark-white-color);
}

.hero-container span {
  color: var(--darker-white-color);
}

.hero-container .hero-description {
  color: var(--darker-white-color);
  font-size: 1.5rem;
  font-weight: 500;
  width: 500px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.secondary-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 2rem 4.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.secondary-button:hover {
  outline: none;
  box-shadow: 3px 3px 0 0 var(--secondary-color);
  transform: translate(-5px, -5px);
}

.hero-container .upstatement {
  color: var(--secondary-color);
  transition: all 1s ease-in;
}
.hero-container .upstatement:hover {
  border-bottom: 1px solid var(--secondary-color);
}
