.header {
  position: sticky;
  top: 0;
  height: 10rem;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  z-index: 99;
  overflow-x: hidden;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.header-wrapper .logo {
  height: auto;
  width: 350px;
}

.header-wrapper .logo a {
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  color: var(--secondary-color);
  font-weight: bolder;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navigation a {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 600;
  gap: 2rem;
  transition: all 0.3s ease-in;
}

.navigation a:hover span {
  color: var(--secondary-color);
}

.navigation a span {
  color: var(--dark-white-color);
}

.toggle-menu {
  width: 2rem;
  height: 2rem;
  z-index: 99;
  display: none;
}

@media (max-width: 934px) {
  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--modal-color);
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 10;
  }

  .navigation.mobile {
    transform: translateX(0%);
  }

  .navigation a:not(:last-child) {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 600;
    gap: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    transition: all 0.3s ease-in;
  }

  .navigation a:hover span {
    color: var(--secondary-color);
  }

  .navigation a span {
    color: var(--dark-white-color);
    display: block;
  }

  .toggle-menu {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    cursor: pointer;
  }

  .burger {
    width: 3rem;
    height: 0.4rem;
    border-radius: 10px;
    transform-origin: 4px;
    background-color: var(--secondary-color);
    transition: all 0.3s linear;
  }

  .overlay {
    position: fixed;
    opacity: 0;
    bottom: 0;
    top: 10rem;
    right: 0;
    z-index: 5;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    transition: opacity 0.3s ease-in-out;
  }

  .overlay.open {
    opacity: 1;
  }

  .toggle-menu:nth-child(1) {
    transform: rotate(0deg);
  }

  .one {
    transform: rotate(45deg);
  }

  .toggle-menu:nth-child(2) {
    opacity: 1;
    transform: translateX(0%);
  }
  .two {
    transform: translateX(100%);
    opacity: 0;
  }

  .toggle-menu:nth-child(3) {
    transform: rotate(0deg);
  }

  .three {
    transform: rotate(-45deg);
  }
}
