.left-socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  left: 50px;
  top: 310px;
}

.left-socials a {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  color: var(--darker-white-color);
  transition: all 0.2s ease-in;
}

.left-socials a:hover {
  color: var(--secondary-color);
  transform: translateY(-7px);
}

.left-socials > div {
  background-color: var(--darker-white-color);
  width: 1px;
  height: 600px;
}

/* right socials */
.right-socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: -45px;
  top: 400px;
}

.right-socials a {
  transform: rotate(90deg);
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--darker-white-color);
  transition: all 0.3s ease-in;
}

.right-socials a:hover {
  color: var(--secondary-color);
}

.right-socials > div {
  position: absolute;
  background-color: var(--darker-white-color);
  width: 1px;
  height: 400px;
  top: 150px;
}

@media (max-width: 900px) {
  .left-socials,
  .right-socials {
    display: none;
  }
}
