.global-links {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 0.3s ease-in;
}

.global-links::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.global-links:hover::before {
  transform: scaleX(1);
}
