.contact-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 4em auto 9em auto;
}

.contact-inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.contact-inner h1 {
  color: var(--secondary-color);
  word-spacing: 5px;
  font-size: 1.7rem;
}

.contact-container h2 {
  font-size: 3rem;
  color: var(--dark-white-color);
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 2rem auto;
}

.contact-container p {
  color: var(--darker-white-color);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.contact-container .contact-anchor {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 2.5rem 4.5rem;
  word-spacing: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.contact-container .contact-anchor:hover {
  outline: none;
  box-shadow: 3px 3px 0 0 var(--secondary-color);
  transform: translate(-5px, -5px);
}

@media (min-width: 860px) {
  .contact-inner {
    padding: 2rem 0;
    max-width: 750px;
    margin: 0 auto;
    gap: 2em;
  }

  .contact-container h2 {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  .contact-container {
    margin: 4em auto 9em auto;
  }
}
