footer {
  display: none;
}

@media (max-width: 860px) {
  footer {
    display: block;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .footer-inner {
    width: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  footer .footer-inner a {
    text-decoration: none;
    color: var(--darker-white-color);
    background-color: var(--modal-color);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.2s ease-in;
  }

  footer .footer-inner a:hover {
    color: var(--secondary-color);
    transform: translateY(-7px);
  }
}
