@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Roboto+Mono:ital,wght@0,200;0,300;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #0b192e;
  --secondary-color: #65feda;
  --dark-white-color: #cdd7f6;
  --darker-white-color: #8892b0;
}

body,
html {
  font-family: "Inter", sans-serif;
  /* font-family: "Roboto Mono", monospace; */
  background-color: var(--primary-color);
  font-size: 10px;
  overflow-x: hidden;
}

.paddings {
  padding: 1.5rem;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

.flex-center {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}
